body {
    margin: 0;
    font-family: sans-serif;
}

.model1 .item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
}
